PORT=3001
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=uniconfess
DB_SYNCHRONIZE=true

ADMIN_EMAIL=admin@test.com
ADMIN_PASSWORD=1234
BCRYPT_SALT_ROUNDS=10

JWT_SECRET=cambia_esta_clave_por_una_mas_larga_y_privada
JWT_EXPIRES_IN=1d
